[[source]]

url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-admin = "*"
flask-login = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-security = "*"
flask-redis = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-cors = "*"
Flask-Migrate = "*"
flasgger = "*"
arrow = "*"
ipython = "*"
psycopg2 = "*"
gunicorn = "*"

[requires]

python_version = "3.6"
